body{
margin:0;
font-family:Arial;
}

header{
background:#0a2540;
color:white;
padding:10px;
text-align:center;
}

#map{
height:90vh;
}

.controls{
padding:10px;
background:#f2f2f2;
text-align:center;
}

input{
padding:8px;
width:250px;
margin-right:10px;
}

button{
padding:8px 12px;
margin:5px;
cursor:pointer;
}
